<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title 20151023-Demo01

  //- css link
  //- link(rel="stylesheet", href="/asset/stylesheets/reset.css")
  link(rel="stylesheet", href="/asset/stylesheets/20151023_demo03.css")

body
  .type-a
    | 101111212
