<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title 20151030_demo01  
  
  link(rel="stylesheet", href="/asset/stylesheets/20151030_demo01.css")
  
body
  .wrapper
    canvas#myCanvas(width='300', height='200', style='border:1px dashed #333;')
  
  script(src='/asset/javascripts/20151030_demo01.js')
