html(lang="en")
head
	meta(charset="UTF-8")
	title EEweb
	
	link(rel='stylesheet', type='text/css', href='./semantic-ui/semantic.css')
	link(rel='stylesheet', type='text/css', href='./asset/stylesheets/reset.css')
	block styleSheet
	
body
	block content
	
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
	
	script(src='https://code.jquery.com/jquery-2.1.4.min.js')
	script(src='./semantic-ui/semantic.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')
	block javaScript
