.ui.vertical.footer.segment
	.ui.container
		.ui.stackable.divided.equal.height.stackable.grid
			.three.wide.column
				h4.ui.header Teacher Info
				.ui.link.list
					a.item(href='#')
						i.mail.icon
						.content
							.header Mail
					a.item(href='https://www.facebook.com/people/%E6%B4%AA%E4%BA%8E%E8%91%89/100003976970131')
						i.Facebook.icon
						.content
							.header Facebook
			.five.wide.column
				h4.ui.header Link
				.ui.link.list
					a.item(href='http://www.oit.edu.tw/bin/home.php')
						i.Student.icon
						.content
							.header 亞東技術學院
							.description
								| Oriental Institute of Technology
					a.item(href='http://gecw.oit.edu.tw/bin/home.php')
						i.Student.icon
						.content
							.header 通識教育中心
							.description
								| Center for General Education
			.six.wide.column
				h4.ui.header School Info
				.ui.list
					.item
						i.Marker.icon
						.content
							.header Address
							.description
								| (220) 新北市板橋區四川路二段58號
					.item
						i.Phone.icon
						.content
							.header Tel
							.description
								| (02) 7738-8000 或 (02) 7738-0145