//- br  //- 其他的自己需要補
//- br
style.
	a.footer.footer{
		float: left;
		margin-right: 20px;
		color: black;
	}
	h4.ui.header.top{
		border-bottom: 1px solid #d7d7d7;
	}
.ui.vertical.footer.segment
	.ui.container
		.ui.grid
			.three.wide.column
				h4.ui.header.top Teacher Info
				h4.ui.header
					a.footer.item(href='#')
						i.mail.icon
						.content
							.header Mail
					a.footer.item(href='https://www.facebook.com/people/%E6%B4%AA%E4%BA%8E%E8%91%89/100003976970131')
						i.Facebook.icon
						.content
							.header Facebook
			.six.wide.column
				h4.ui.header.top Link
				h4.ui.header
					a.footer.item(href='http://www.oit.edu.tw/bin/home.php')
						i.Student.icon
						.content
							.header 亞東技術學院
							.description
								| 通識教育中心
					a.footer.item(href='http://gecw.oit.edu.tw/bin/home.php')
						i.Student.icon
						.content
							.header Oriental Institute of Technology
							.description
								| Center for General Education
			.seven.wide.column
				h4.ui.header.top School Info
				h4.ui.header
					a.footer.item
						i.Marker.icon
						.content
							.header Address
							.description
								| 新北市板橋區四川路二段58號
					a.footer.item
						i.Phone.icon
						.content
							.header Tel
							.description
								| 7738-8000 or 7738-0145
								
	br
