extends container

block styleSheet
	link(rel="stylesheet", href="/asset/stylesheets/home.css")

block content
	.videoarea
		video#video-background(autoplay='', loop='', poster='', muted='')
			source(src='https://d3mlfyygrfdi2i.cloudfront.net/cc51/au-nz-4eva.mp4', type='video/mp4')
	include footer

block javaScript
	//- 在這邊寫上你需要用的 js
