#navbar.ui.stackable.menu.container
	a(href="/home.html").active.item
		//- img.ui.image(src='./asset/images/icon.png')
		| EEWEB
	a(href="/home.html").item
		i.home.icon
		| HOME
	a(href="/intro.html").item
			i.empty.star.icon
			| INTRO
	a(href="/book.html").item
			i.book.icon
			| LIBRARY
	a(href="/record.html").item
			i.history.icon
			| RECORDS
	.right.menu
		a(href="/em").item
			i.linkify.icon
			| LINKS
