extends container

block javaScript
	script(src='./asset/javascripts/slideShow.js')

block content
	include navBar
	br
	.ui.container
		img#slideShow.ui.fluid.image(src='./asset/images/freshwater/water_1.jpg')
	br
	br
	#data(data-slideShow=JSON.stringify(data))
	include footer
