.ui.container
	//- .ui.stackable.equal.height.stackable.grid
		.five.wide.column
			br
			img.ui.Medium.rounded.image(src='/asset/images/1.jpg')
		.nine.wide.column
			br
			h1 Teacher Info
			h2 
				| 中文姓名：羅玉冰
				br
				| English name：Laura
				br
				br
				| Expertise：
	.ui.container
		.ui.segment
			a.ui.red.right.ribbon.label 經歷 Experience
			p 
			a.ui.green.right.ribbon.label 美國德州奧斯汀大學 英語所 碩士
			p
			a.ui.olive.right.ribbon.label 亞東技術學院通識教育中心講師
			p
			a.ui.yellow.right.ribbon.label 專長 Specialty
			p
			a.ui.blue.right.ribbon.label 英語學習策略
			p
			//- a.ui.blue.right.ribbon.label 通識英語基礎教育-聽說
			//- p
			.ui.three.column.grid(style='margin-top:-200px')
				.column
					.ui.fluid.image(style='width:300px; margin: 22px')
						a.ui.left.corner.label(href='https://www.facebook.com/profile.php?id=1553449049&fref=ts' target='_blank')
							i.facebook.icon
						img.ui.image(src='./asset/images/woman.jpg')
				.column
					h1 Laura 羅玉冰
					.ui.divider
					p.ui.small.header
						a.ui.red.tag.label 學歷簡介
						br
						br
						| 美國德州奧斯汀大學 英語教學碩士
						br
						| 國立政治大學西洋語文學系學士
						br
						| 台北市立第一女子高級中學畢業
					.ui.divider
					p.ui.small.header
						a.ui.orange.tag.label 教學經歷
						br
						br
						| 亞東技術學院專任英文講師
						br
						| 台灣科技大學兼任英文講師
					.ui.divider
					p.ui.small.header
						a.ui.green.tag.label 獲獎紀錄
						br
						br
						| 104學年度教育部補助技專推動通識課革新計劃
						br
						| 103學年度教學單位教學優良獎
						br
						| 101學年度優良教材、教具教學評選-教材編撰(大二英文)佳作
						br
						| 98學年度 教學優良獎
					.ui.divider
					p.ui.small.header
						a.ui.blue.tag.label 教學專長
						br
						br
						| 廣泛閱讀教學
						br
						| 英語文學習單教學
					.ui.divider
					
					
					//- a(style='margin-top:8px').ui.blue.tag.label 
					//- a(style='margin-top:8px').ui.blue.tag.label 
