.ui.container
	.ui.stackable.equal.height.stackable.grid
		.five.wide.column
			br
			img.ui.Medium.rounded.image(src='/asset/images/1.jpg')
		.nine.wide.column
			br
			br
			h2 Teacher Info
			h4 Chinese name：羅玉冰
			h4 English name：Laura
			h4 Experience：亞東技術學院通識教育中心講師，美國德州奧斯汀大學 英語所 碩士
			h4 Expertise：英語學習策略