.ui.container
	//- .ui.stackable.equal.height.stackable.grid
		.five.wide.column
			br
			img.ui.Medium.rounded.image(src='/asset/images/1.jpg')
		.nine.wide.column
			br
			h1 Teacher Info
			h2 
				| 中文姓名：羅玉冰
				br
				| English name：Laura
				br
				br
				| Expertise：
	.ui.container
		.ui.segment
			a.ui.red.right.ribbon.label [經歷]
			p 
			a.ui.green.right.ribbon.label 美國德州奧斯汀大學 英語所 碩士
			p
			a.ui.olive.right.ribbon.label 亞東技術學院通識教育中心講師
			p
			a.ui.yellow.right.ribbon.label [專長]
			p
			a.ui.blue.right.ribbon.label 英語學習策略
			p
			//- a.ui.blue.right.ribbon.label 通識英語基礎教育-聽說
			//- p
			.ui.three.column.grid(style='margin-top:-200px')
				.column
					.ui.fluid.image(style='width:300px')
						a.ui.left.corner.label(href='https://www.facebook.com/profile.php?id=1553449049&fref=ts' target='_blank')
							i.facebook.icon
						img.ui.image(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/2015/09/28/6/1355089.jpg&sl=W&fw=450')
				.column
					h1 Laura 羅玉冰
					a.ui.blue.tag.label 
					a(style='margin-top:8px').ui.blue.tag.label 
					a(style='margin-top:8px').ui.blue.tag.label 
