.ui.two.column.grid
	.column
		.ui.fluid.image
			.ui.black.ribbon.label
				i.hotel.icon
				|  Hotel
			img(src='/images/wireframe/image.png')
	.column
		.ui.fluid.image
			.ui.blue.ribbon.label
				i.spoon.icon
				|  Food
			img(src='/images/wireframe/image.png')