extends container

block content
	.ui.container
	.ui.four.column.grid.item.stackable
		.column
			h5.ui.center.aligned.icon.header
				br
				img.ui.small.circular.image(src='/asset/images/1.jpg')
				br
				br
				.description
				| Lorem ipsum dolor sit amet.
				br
				| consectetuer adipiscing elit.
				br
				| Aenean commodo ligula eget dolor.
				br
				br
				button.ui.green.button Get Start
		.column
			h5.ui.center.aligned.icon.header
				br
				img.ui.small.circular.image(src='/asset/images/1.jpg')
				br
				br
				.description
				| Lorem ipsum dolor sit amet.
				br
				| consectetuer adipiscing elit.
				br
				| Aenean commodo ligula eget dolor.
				br
				br
				button.ui.green.button Get Start
		.column
			h5.ui.center.aligned.icon.header
				br
				img.ui.small.circular.image(src='/asset/images/1.jpg')
				br
				br
				.description
				| Lorem ipsum dolor sit amet.
				br
				| consectetuer adipiscing elit.
				br
				| Aenean commodo ligula eget dolor.
				br
				br
				button.ui.green.button Get Start
		.column
			h5.ui.center.aligned.icon.header
				br
				img.ui.small.circular.image(src='/asset/images/1.jpg')
				br
				br
				.description
				| Lorem ipsum dolor sit amet.
				br
				| consectetuer adipiscing elit.
				br
				| Aenean commodo ligula eget dolor.
				br
				br
				button.ui.green.button Get Start
		include teacherdata
		include coursepoint
				
	include footer