body
	padding: 0px
	margin: 0px

$videoheight : 500px

video
	position: fixed
	top: 0px
	left: 0px
	min-width: 100%
	z-index: -2

.cover
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: $videoheight
	z-index: -1
	background-image: url(../images/resource/dot.png)

footer
	width: 100%
	position: fixed
	top: $videoheight
	left: 0px
	z-index: -1
	height: 1080 - $videoheight
	background-color: #98D4D8
