body
	padding: 0px
	padding-top: 20px
	margin: 0px
	
$videoheight : 550px

video
	position: fixed
	top: 0px
	left: 0px
	min-width: 100%
	z-index: -2

.cover
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: $videoheight
	z-index: 0
	background-image: url(../images/resource/dot.png)

footer
	width: 100%
	position: fixed
	bottom: 0px
	left: 0px
	padding-top: 12px
	z-index: 1
	height: 107spx
	background-color: white

h1
	color: white !important
	margin-left: 100px
	text-shadow: 3px 3px 2px #333
	&.ch
		margin-top: 150px
		font-size: 6em
	&.en
		font-size: 4em
